API_PORT=3012
WEB_ORIGIN=http://localhost:5173
VITE_PORT=5173
VITE_API_TARGET=http://localhost:3012
REPOSITORY_CACHE_DIR=E:/AI/impact-flow/var/repositories
VERSION_CHECK_ENABLED=true
VERSION_CHECK_INTERVAL_MS=300000
INSPECTION_LOG_RETENTION_DAYS=30
SYMBOL_ANALYSIS_MAX_FILES=1500

DATABASE_HOST=
DATABASE_PORT=
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD_BASE64=
